* {
    padding: 0;
    margin: 0;
}
.nav-bar {
  background-color: white;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  justify-content: space-between;
  color: #2f3542;
}

body {
  background-color: #282c34;
  color: #ecf0f1;
}

navbar img {
  margin-top: 30px;
  width: 60%;
}

.searchbox-container {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  
}

.search-container-input {
  width:30%;
}

input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.search-container-btn {
  margin-left: 30px;
}

button {
  background-color: #12CBC4;
  padding: 8px;
  border: none;
  border-radius: 3px;
}

.location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95%;
  margin: auto;
}

.card {
  display: flex;
  border-radius: 5px;
  color: whitesmoke;
  width: 100%;
}

.card img {
  width: 100%;
}

.card-body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

span{
  font-size: 20px;
}


/* Helpers */

.border {
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.text-center {
  text-align: center;
}

.margin-auto {
   margin: auto;
}